.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.profile h2 {
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 10px;
    letter-spacing: .05rem;
}

.profileImg {
    border-radius: 100%;
    width: 30px;
    height: auto;
    right: 0;
}

.profile button:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
}

.dropMenu {
    justify-content: center;
    text-align: left;
    width: 80px;
}

.logOutMenu {
    text-align: center;
    padding: 0;
}