.productDetailContainer {
    margin: 20px auto;
    max-width: 1200px;
    min-height: 1000px;
    background-color: white;
    border-radius: 50px;
    padding: 10px 30px 40px 30px;
    color: black;
    margin-bottom: 100px;
}
.productDetailContainerTwo {
    margin: 0 auto;
    max-width: 1100px;
    height: auto;
    display: flex;
}

.productDetailImgContainer {
    max-width: 400px;
    height: 300px;
    margin: 50px 0;
}

.productDetailImg {
    max-width: 400px;
    display: flex;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}

.productDetailInfo {
    width: 800px;
    margin: 50px 25px;
    display: flex;
    flex-direction: column;
}

.productDetailName {
    font-size: 1.8rem;
}

.productDetailPrice{
    margin-top: 10px;
    font-size: 1.6rem;
    font-family: 'Orbitron', sans-serif;
}

.productDetailRating {
    margin-top: 10px;
}

.allInfoDetail {
    background-color: rgba(222, 222, 222, 0.29);
    border-radius: 40px;
    padding: 0 40px 40px 40px;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.628);


}

.characteristics {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    justify-content: center;
    display: flex;
    margin: auto;
    min-width: 200px;

}

.characteristicsContainer {
    margin: 0 auto;
    height: 100%;
    min-width: 200px;
    text-align: left;
}

.characteristicsContainer span {
    font-weight: bold;
}

.productDetailDescription {
    padding: 10px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.259);
    width: 100%;
    text-align: center;
}

.productDetailDescriptionContainer {
    margin: 0 auto;
    height: 100%;
    width: 90%;
}

.button {
    background: none;
    border: none;
  }
  .button img {
    height: 40px;
    display: flex;
    transition: .5s;
  }
  .button img:hover {
    filter: brightness(1.5);
  }
  
  .button img:active {
    transform: scale(1.5)
  }


@media only screen and (max-width: 768px) {
    .productDetail {
        flex-direction: column;
    }
    .productDetailContainer {
        margin: 0 auto 50px auto;
        width: 100%;
        display: inline-block;
        height: auto;
    }
    .productDetailContainerTwo {
        display: flex;
        flex-direction:column-reverse;
        margin: 30px 15px 100px 15px;;
        height: auto;
    }
    .productDetailInfo {
        display:inline-block;
        margin: 0;
        text-align: center;
        width: auto;
    }
    .productDetailImgContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        vertical-align:middle;
    }
    .productDetailImg {
        margin: auto;
        width: 350px;
        display: flex;
    }
    .productDetailName {
        margin: 0;
        text-align: left;
    }
}