.NavBar {
    width: 100%;
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* color: rgb(243, 243, 243); */
    letter-spacing: .2rem;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0px;
  }

  .auth0 {
    margin-right: 10px;
    display: flex;
    width: 60px;
  }

  .darkMode {
    margin: 0 5px;
  }

  .darkMode img {
    transition: .3s;
  }

  .darkMode img:hover {
    filter: brightness(2);
  }

  .logo {
    cursor: pointer;
    background-image: url('https://img.icons8.com/nolan/96/laptop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    transition: .5s;
  }

  .logo:hover {
    transform: scale(1.1);
  }
  
  .searchBarCall {
    margin: auto;
  }

  .wishlistNav {
    margin: 0 10px;
  }

  .shoppignCartNav {
    margin: 0 10px;
  }

  @media only screen and (max-width: 768px) {
    .auth0 {
      position: relative;
      right: 0;
      margin: 0 -5px;
      padding: 0;
    }
    .logo {
      position: relative;
      left: 5px;
      margin-left: 2px;
      width: 40px;
      height: 40px;
    }
    .searchBarCall {
      margin: 0 5px 0 10px;
    }
    .darkMode img, .darkMode{
      padding: 0;
      margin: 0 -5px 0 0;
    }

    .wishlistNav {
      margin: 0 5px;

    }
    .shoppignCartNav {
      margin: 0 1px;
    }
}